.arrowImg {
    width: 24px;
}

.line {
    background-color: white;
    min-height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 25px;
    padding: 0px 10px;
}
.link{
    width:100%;
}

.firstCell{
    width: 30%;
}
.secondCell{
    width: 60%;
}
.img{
    width: 60px;margin: 20px;
}

