.wrapperOrders {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1270px;
    background-color: var(--green);
    padding: 90px 50px;
    border-radius: 17px;
    margin-top: 40px;
    justify-content: center;
}

.title {
    margin-top: 95px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--orange);
}

.wrapperPagination {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.main {
    box-sizing: border-box;
    border-radius: 38px;

    display: flex;
    margin-left: 248px;
    min-height: 100vh;
}

.wrapper {
    margin: 25px 20px 20px 20px;

    border-radius: 38px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonImg {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.buttonWrapper {
    margin-top: 20px;
    width: 40%;
}

.fieldsWrapper {
    display: flex;
    width: 80%;
    margin-bottom: 15px;
}

.field {
    margin-left: 20px;
    width: 100%;
}
