.wrapperCard {
    display: flex;
    flex-direction: column;
    width: 75%;
    /* max-width: 1270px; */
    background-color: var(--green);
    padding: 55px 85px;
    border-radius: 17px;
    margin-top: 40px;
    justify-content: center;
}

.title {
    margin-top: 60px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--orange);
}

.wrapperPagination {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.main {
    box-sizing: border-box;
    border-radius: 38px;

    display: flex;
    margin-left: 248px;
    min-height: 100vh;
}

.wrapper {
    margin: 25px 20px 20px 20px;

    border-radius: 38px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonImg {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.buttonWrapper {
    margin-top: 20px;
    width: 50%;
}

.fieldsWrapper {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.featuresWrapper{
margin-top: 25px;
}

.buttonsWrapper {
    display: flex;
    width: 100%;
    max-width: 1270px;
    justify-content: flex-end;
    margin-right: 130px;
    position: relative;
}

.firstWrapper {
    display: flex;
}

.textBlockWrapper {
    width: 50%;
}

.secondTextBlockWrapper {
    display: flex;
}

.imgWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.firstContainer {
    width: 50%;
    margin-right: 10px;
}
.secondContainer {
    width: 50%;
}

.field {
    margin-bottom: 20px;
}

.inputWrapper {
    width: 100%;
    margin-right: 10px;
}

.wrapperBlock{
    position: absolute;
    top: 40px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    display:flex;
    flex-direction: column;
    border-radius: 14px;
    width: 360px;
    border: 1px solid var(--orange);
}

.wrapperBlockText{
    cursor: pointer;
    min-height: 48px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    transition:0.5s;
    font-size: 16px;
}

ul{
    list-style-type: none;
}

.wrapperBlockText:hover{
    background-color: rgba(255, 152, 0, 0.16);
}

.buttonInspections{
    margin-top: 20px;
}

.buttonNotVisible{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
