.wrapperOrders {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1270px;
    background-color: var(--green);
    padding: 90px 50px;
    border-radius: 17px;
    margin-top: 40px;
    justify-content: center;
}

.buttonWrapper {
    margin-top: 20px;
    width: 40%;
}

.fieldsWrapper {
    display: flex;
    width: 80%;
    margin-bottom: 15px;
}

.field {
    margin-left: 20px;
    width: 100%;
}
