.wrapperCard {
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: var(--light-green);
    padding: 55px 95px;
    border-radius: 17px;
    margin-top: 40px;
    justify-content: space-evenly;
    min-height: 500px;
}

.inputWrapper {
    margin-bottom: 20px;
}

.employeeWrapper {
    width: 100%;
}

.animalsWrapper {
    width: 100%;
    margin-left: 50px;
}

.fieldsWrapper {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.field {
    margin-left: 20px;
    width: 100%;
}
