.wrapper {
    width: 100%;
}

.textarea {
    height: 100%;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid var(--orange);
    padding: 13px 16px 13px 16px;
    color: black;
    background: white;
    border-radius: 8px;
    font-size: 14px;
    resize: none;
}

.textarea:disabled {
    border: 1px solid transparent;
}

.textarea:focus,
.textarea:active {
    outline: none;
}

.title {
    color: white;
    padding-left: 16px;
    font-size: 14px;
}
