.button {
    width: 100%;
    box-sizing: border-box;
    min-height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    transition: 0.5s;
    cursor: pointer;
}
.default {
    color: white;
    background: var(--orange);
    border: none;
}
