.menu {
    height: 100%;
    min-width: 140px;
    background: var(--green);
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
