.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdownWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
}

.input {
    width: 100%;
    color: black;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--onyx-black);
}

.input::placeholder {
    color: black;
}

.img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 10px;
}

* {
    box-sizing: border-box;
}

.closeHeader {
    height: 48px;
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--orange);
    padding: 13px 16px;
    z-index: 4;
    position: relative;
    cursor: pointer;
}

.openHeader {
    height: 48px;
    display: flex;
    background-color: white;
    align-items: center;
    border: 1px solid var(--orange);
    border-bottom: none;
    padding: 13px 16px;
    z-index: 4;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.openHeader::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--gray-50);
    border-radius: 8px;
    border-bottom: 1px solid var(--orange);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    box-sizing: border-box;
}

.disabled {
    height: 48px;
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 8px;
    border: 1px solid white;
    padding: 13px 16px;
}

.optionsWrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 68px;
    background-color: white;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    border: 1px solid var(--orange);
    border-top: none;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 1500;
}

.optionsWrapper::-webkit-scrollbar {
    border-radius: 8px;
    width: 3px;
    height: 20px;
}

.optionsWrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 3px;
    background-color: gray;
}

.li {
    cursor: pointer;
    list-style-type: none;
    color: black;
    padding: 13px 16px;
    font-size: 14px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

/* .li:hover {
    background-color: var(--iris-50);
} */

.label {
    color: white;
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: 4px;
}
