.wrapperOrders {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    max-width: 1270px;
    background-color: var(--light-green);
    padding: 60px 50px;
    border-radius: 17px;
    margin-top: 40px;
    flex-direction: column;
 
}

.buttonWrapper {
    margin-top: 20px;
    display: flex;
}

.button {
    width: 100%;
    margin-left: 50px;
}

.wrapperBox{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.fieldsWrapper {
    display: flex;
    width: 70%;
    /* margin-bottom: 25px; */
}

.visible {
    opacity: 0;
    position: absolute;
}

.fieldVisible {
    width: 100%;
    position: relative;
    padding: 0 25%;
}

.animalWrapper{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 360px;
    margin-top: 30px;
    width: 70%;
}

.animalWrapper::-webkit-scrollbar {
    border-radius: 8px;
    width: 3px;
    height: 20px;
}

.animalWrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 3px;
    background-color: var(--orange);
}

.animalCheckWrapper{
    display: flex;
}

.container{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 40px;
    padding: 0 25%;
}

.wrapperFields{
    display: flex;
    flex-direction: column;
}

.buttonImg {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.imgCheck{
    width: 35px;
    margin-left: 10px;
}