.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapperAuth {
    box-sizing: border-box;
    background-color: var(--green);
    border-radius: 38px;
    padding: 105px 150px;
    min-width: 600px;
}

.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    color: white
}

.wrapperButton {
    display: flex;
    margin-top: 30px;
}

.firstButton {
    width: 100%;
}

.wrapperInput {
    margin-bottom: 40px;
}

.mainTitle {
    position: absolute;
    top: 0;
    left: 50px;
}
