.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 17px;
    cursor: pointer;
}

.active {
    background: rgba(255, 255, 255, 0.23);
}

.img {
    width: 40px;
}
