body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --dark-green: #729b8f;
    --green: #49ba88;
    --light-green: #a6c3bb;
    --orange: #f79c52;
    --grey: #f3f4f5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.mainTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menuTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: white;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}

.upperTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.css-p7dgo8-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    background-color: var(--green)!important;
}

.css-rz26vr-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: var(--green)!important;
}