.buttonsWrapper {
    display: flex;
    width: 100%;
    max-width: 1270px;
    justify-content: flex-end;
    margin-right: 130px;
}

.buttonImg {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
