.wrapper {
    position: fixed;
    top: 0;
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstTitle {
    color: var(--green);
}

.secondTitle {
    color: var(--orange);
}
