
.title {
    margin-bottom: 25px;
    text-align: center;
}


.buttonInspections{
    margin-top: 20px;
}

.buttonNotVisible{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
